# Replace the placeholder usernames with real GitHub usernames or org teams.

/.github/ @sithilanethmina
/electronics-price-model/ @NimsaraThenuka @sithilanethmina
/gpu-price-model/ @sithilanethmina
/mobile-price-model/ @Kavi-Gomez @sithilanethmina
/vehicle-price-model/ @DulaG @sithilanethmina
